.blur {

  & .ellipse-1 {
    position: absolute;

    background-color: rgba(63, 15, 65, 0.100);
    border-radius: 50%;
    width: 12.495rem;
    height: 12.495rem;

    top: 25rem;
    right: -13rem;

    box-shadow: 0 0 500px 400px rgba(63, 15, 65, 0.100);
  }

    & .ellipse-2 {
    position: absolute;

    background-color: rgba(63, 15, 65, 0.100);
    border-radius: 50%;
    width: 9.712rem;
    height: 9.712rem;

    top: 15rem;
    left: -13rem;

    box-shadow: 1px 1px 500px 400px rgba(63, 15, 65, 0.100);
  }

      & .ellipse-3 {
    position: absolute;

    background-color: rgba(63, 15, 65, 0.100);
    border-radius: 50%;
    width: 14rem;
    height: 14rem;

    top: 35rem;
    left: 0rem;

    box-shadow: 0 0 500px 400px rgba(63, 15, 65, 0.100);
  }

      & .ellipse-4 {
    position: absolute;

    background-color: rgba(63, 15, 65, 0.100);
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;

    top: 15rem;
    right: -10rem;

    box-shadow: 1px 1px 500px 400px rgba(63, 15, 65, 0.100);
  }
}

@media (width >= 90em) {

  .blur {
    /* & div[class*="ellipse"] {
      border: 1px solid yellow;
    } */

    & .ellipse-1 {
      position: absolute;

      background-color: rgba(63, 15, 65, 0.280);
      border-radius: 50%;
      width: 30.687rem;
      height: 30.687rem;

      top: 50rem;
      right: -15rem;

      box-shadow: 0 0 500px 400px rgba(63, 15, 65, 0.280);
    }

    & .ellipse-2 {
      position: absolute;

      background-color: rgba(63, 15, 65, 0.280);
      border-radius: 50%;
      width: 23.5rem;
      height: 23.5rem;

      top: 35rem;
      left: -18rem;

      box-shadow: 1px 1px 500px 400px rgba(63, 15, 65, 0.280);
    }

    & .ellipse-3 {
      position: absolute;

      background-color: rgba(63, 15, 65, 0.280);
      border-radius: 50%;
      width: 33.625rem;
      height: 33.625rem;

      top: 65rem;
      left: 19rem;

      box-shadow: 0 0 500px 400px rgba(63, 15, 65, 0.280);
    }

    & .ellipse-4 {
      position: absolute;

      background-color: rgba(63, 15, 65, 0.280);
      border-radius: 50%;
      width: 15.0625rem;
      height: 15.0625rem;

      top: 30rem;
      right: -7rem;

      box-shadow: 1px 1px 500px 400px rgba(63, 15, 65, 0.280);
    }
  }
}