* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: "Raleway", sans-serif;

  --title-lg: 700 3rem/auto var(--font-family);
  --title-md: 700 2.5rem/auto var(--font-family);
  --title-sm: 700 2rem/auto var(--font-family);
  --title-xs: 700 1rem/auto var(--font-family);
  --subtitle: 500 2rem/2 var(--font-family);
  --body-lg-reg: 400 1.25rem/1.4 var(--font-family);
  --body-lg-bold: 700 1.25rem/1.4 var(--font-family);
  --body-md-reg: 400 1rem/1.4 var(--font-family);
  --body-md-bold: 700 1rem/1.4 var(--font-family);
  --body-sm-reg: 400 .875rem/1.4 var(--font-family);
  --body-md-bold: 700 .875rem/1.4 var(--font-family);
  --body-xs-reg: 700 .75rem/1.4 var(--font-family);
  --body-md-bold: 700 .75rem/1.4 var(--font-family);
  --text-button: 700 .875rem/auto var(--font-family);
  --text-link: 500 .875rem/auto var(--font-family);
  --text-tag: 700 .625rem/auto var(--font-family);
}