#hero {
  display: grid;
  margin-bottom: 8.5rem;

  & .book {
    display: grid;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-image: url(../assets/hero/hero-background.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;
      z-index: -1;

      opacity: 0;
      animation: appear 1s linear forwards;
    }

      & header {
      display: flex;
      justify-content: space-between;
      margin: 1.25rem 1.25rem 0;

      & div {
        background-image: url(../assets/hero/logo-symbol.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 4.035rem;
        height: 3rem;
      }

      & .button {
        align-self: flex-start;
      }
    }

    & div:nth-child(2) {
      display: grid;
      text-align: center;
      margin: 3rem 1.25rem 14.0625rem;
      gap: 1rem;  
      
      & h1 {
        opacity: 5%;
        animation: appear-delay 800ms 300ms linear forwards;
      }

      & p {
        opacity: 0;
        animation: appear-delay 800ms 400ms linear forwards;
      }
    }
  }

  & .subtitle {
    display: grid;
    align-items: center;
    position: relative;

    margin-inline: 1.25rem;
    padding-block: 3.75rem 2rem;

    & p {
      font: var(--subtitle);
      color: var(--text-body);
    }

    & img {
      scale: .1%;
      animation: appear-img 800ms ease-in forwards;
    }

    & img[src*="spellbook"] {
      width: 2.5rem;
      aspect-ratio: 1/1;
      object-fit: cover;
      margin-left: 12rem;
      rotate: 15deg;
      margin-bottom: 0.292rem;

      transform: scale(1);
      transition: transform 300ms linear;

      &:hover {
        transform: scale(1.1) rotate(10deg);
      }
    }


    & img[src*="planchette"] {
      width: 2rem;
      aspect-ratio: 1/1;
      object-fit: cover;
      rotate: -30deg;
      position: absolute;
      top: 11.5rem;

      transform: scale(1);
      transition: transform 300ms linear;

      &:hover {
        transform: scale(1.1) rotate(10deg)  ;
      }
    }

    & img[src*="ball"] {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      rotate: 15deg;
      position: absolute;
      top: 12.2rem;
      right: 0;

      transform: scale(1);
      transition: transform 300ms linear;

      &:hover {
        transform: scale(1.1) rotate(10deg)  ;
      }
    }

    & div:first-child {
      display: grid;
      text-align: center;
      justify-items: center;
    }

    & div:last-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
    }
  }
}

@media (width >= 90em) {

  #hero {
    margin-bottom: 19.4375rem;

    & .book {
      max-width: 90rem;

      & header {
      display: flex;
      justify-content: space-between;

      margin: 3.5rem 10rem 0;

        & div {
          background-image: url(../assets/logo-horizontal.svg);
          background-repeat: no-repeat;
          background-size: contain;
          width: 14.375rem;
          height: 3.625rem;
        }
      }
       
      & div:nth-child(2) {
        margin: 10.25rem 24.5rem 35.375rem;
        gap: 2rem;
      }
    }
    
    & .subtitle {
      margin-inline: 5.1rem;
      padding-block: 6rem 4.75rem;
      position: relative;

      & .wrap {
        display: inline;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        
        & p {
          display: inline;
          flex-wrap: wrap;
          font: var(--subtitle);
          opacity: .5;

          transition: opacity 300ms;


          & span {
            color: var(--subtitle);
            font-weight: 700;
            margin-right: .3125rem;

            transition: color 300ms;
          }
        }
      }

      & img {
        scale: .1%;
        opacity: 0;
        transition: all 700ms ease;
      }
      
      
      & img[src*="spellbook"] {
        animation: scaleDown 700ms ease forwards;
      }

      & img[src*="planchette"] {
        animation: disappear 700ms ease forwards;
      }

      & img[src*="ball"] {
        animation: disappear 700ms ease forwards;
      }
      
      &:hover {

        & .wrap {
          & p:nth-child(1) {
            opacity: 1;

            & span {
              color: var(--blue-light);
           } 
          }

          & p:nth-child(2) {
            opacity: 1;
            transition-delay: 600ms;

            & span {
              transition-delay: 600ms;
              color: var(--blue-light);
            } 
          }

          & p:nth-child(3) {
            opacity: 1;
            transition-delay: 1000ms;

            & span {
              transition-delay: 1000ms;
              color: var(--blue-light);
            } 
          }
        }

        
        & img[src*="spellbook"] {
          animation: appear-img 500ms 0s ease-in forwards;  
        }
        
        & img[src*="planchette"] {
          animation: appear-img 500ms 500ms ease-in forwards;
        }

        & img[src*="ball"] {
          animation: appear-img 500ms 1000ms ease-in forwards;
        }
      }
      
      & img[src*="spellbook"] {
        width: 5.5rem;
        height: 5.5rem;
        object-fit: cover;
        margin: 0;
        rotate: 20.76deg;

        transform: scale(1);
        transition: transform 300ms linear;

        &:hover {
          transform: scale(1.1) rotate(10deg)  ;
        }
      }

      & img[src*="planchette"] {
        width: 5rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        rotate: 99.47deg;
        position: initial;

        transform: scale(1);
        transition: transform 300ms linear;

        &:hover {
          transform: scale(1.1) rotate(10deg)  ;
        }
      }

      & img[src*="ball"] {
        width: 4.5rem;
        height: 4.5rem;
        object-fit: cover;
        rotate: -14.48deg;
        position: initial;

        transform: scale(1);
        transition: transform 300ms linear;

        &:hover {
          transform: scale(1.1) rotate(10deg)  ;
        }
      }
    }
  }
}

@keyframes appear {
  65% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear-delay {
  to {
    opacity: 1;
  }
}

@keyframes appear-img {
  0% {
    scale: .1%;
    opacity: 0;
  }

  30% {
    scale: 1.05;
    opacity: 1;
  }
  
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    scale: 1;
    opacity: 1;
  }

  to {
    scale: 1;
    opacity: 0;
  }
}

@keyframes scaleDown {
  from {
    scale: 1;
    opacity: 1;
  }

  to {
    scale: .1%;
    opacity: 0;
  }
}
