.flex {
  display: flex;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.gap-12 {
  gap: .75rem;
}

.gap-16 {
  gap: 1rem;
}

.tag {
  text-transform: uppercase;
}

ul[role="list"] {
  list-style: none;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: initial;
}

@media (width >= 90em) {
  .desktop-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }
}